* {
  box-sizing: border-box;
  }

/* container to hold side nav photo and about me content */
.container {
  padding: 20px; 
}

/* side nav column to hold personal photo and links to other sites */
.sidenav {
  padding: 30px;
  width: 35%;
  float: left;
} 

/* Side navigation links */
.sidenav a {
  text-decoration: none;
  display: block;
}

/* right column to hold about me description */
.content {
  width: 65%;
  float: left;
  padding-top: 70px;
  padding-left: 50px;
}

.responsive {
  width: 100%;
  height: auto;
}

#blank {
  border: 1px solid white;
  float: left; 
  width: 100%;
}