* {
  box-sizing: border-box;
  }

/* container to hold side nav photo and about me content */
.column {
  float: left;
  padding: 20px; 
}

/* side nav column to hold personal photo and links to other sites */
.sidenav {
  padding: 30px;
  width: 35%;
} 

/* Side navigation links */
.sidenav a {
  text-decoration: none;
  display: block;
  text-align: center;
}

/* right column to hold about me description */
.content {
  width: 65%;
  padding-top: 70px;
  padding-right: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.responsive {
  width: 100%;
  height: auto;
}

#blank {
  border: 1px solid white;
  float: left; 
  width: 100%;
}